@model SzczesliwyPlecak.Models.Trip

@{
    ViewData["Title"] = "Szczegóły wycieczki";
    var nutrition = (Nutrition)@ViewData["NutritionSum"];
    var shortDate = Model.StartDate.ToShortDateString().Remove(6, 2);
}

<h1>Szczegóły wycieczki</h1>

<div>
    <h4>Wycieczka @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-2">
            @shortDate
        </dd>
        <dt class="col-sm-2">
            Czas trwania
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.DurationInDays) dni
        </dd>
        <dt class="col-sm-2">
            Łączny czas marszu
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.TotalTimeHiking) h
        </dd>
        <dt class="col-sm-2">
            Liczba kobiet
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.FemaleParticipants)
        </dd>
        <dt class="col-sm-2">
            Liczba mężczyzn
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.MaleParticipants)
        </dd>
        <dt class="col-sm-12">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj dane wycieczki</a>
        </dt>
    </dl>
</div>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        Kalorie:
    </dt>
    <dd class="col-sm-2">
        @nutrition.Calories/@nutrition.CaloriesNeeded g
    </dd>
    <dt class="col-sm-2">
        Białka:
    </dt>
    <dd class="col-sm-2">
        @nutrition.Proteins/@nutrition.ProteinsNeeded g
    </dd>
    <dt class="col-sm-2">
        Cukry
    </dt>
    <dd class="col-sm-2">
        @nutrition.Carbohydrates/@nutrition.CarbohydratesNeeded g
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        Tłuszcze:
    </dt>
    <dd class="col-sm-2">
        @nutrition.Fat/@nutrition.FatNeeded g
    </dd>
    <dt class="col-sm-2">
        Waga:
    </dt>
    <dd class="col-sm-2">
        @nutrition.Weight g
    </dd>
</dl>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-12">
            <a asp-action="AddProducts" asp-route-tripId="@Model.Id">Dodaj produkty</a>
        </dt>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Waga
            </th>
            <th>
                Kalorie
            </th>
            <th>
                Białko
            </th>
            <th>
                Węglowodany
            </th>
            <th>
                Tłuszcz
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TripProducts)
        {
            var totalWeight = item.Quantity * item.Product.Weight;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => totalWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Calories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Proteins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Carbohydrates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Fat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="DeleteProduct" asp-route-tripId="@item.Trip.Id" asp-route-productId="@item.Product.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Wróć do listy wycieczek</a>
</div>
