@model SzczesliwyPlecak.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationInDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTimeHiking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalTimeHiking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FemaleParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FemaleParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaleParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaleParticipants)
        </dd>
        <dt class="col-sm-12">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriesNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaloriesNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FatNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FatNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarbohydratesNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarbohydratesNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FibreNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FibreNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinsNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProteinsNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaltNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaltNeeded)
        </dd>
    </dl>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-12">
            <a asp-action="AddProducts" asp-route-tripId="@Model.Id">Dodaj produkty</a>
        </dt>

        @if (Model.TripProducts != null)
        {
            @foreach (var item in Model.TripProducts)
            {
                <dt class="col-sm-12">
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </dt>
            }
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
